
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-justify {
  text-align: justify !important;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

